@page
@model IndexModel
@{
    ViewData["Title"] = "HOME PAGE";
}

<div class="text-center">
    <h1 class="display-4">@Model.Message</h1>
    <p>Learn about <a href="https://github.com/askhatzhax/Web-SIS2.git"> My GitHub</a>.</p>
</div>
